*{
    margin: 0;
}
body {
    font-family: 'Raleway', sans-serif;
}
.text-light-mine {
    color: #c2c2c2;
}
.nav-link:hover {
    color: #fff;
}
.collapse {
    justify-content: flex-end;
}
.new-bg {
    background-color: #444;
}
.main-header {
    background-image: url('../img/form-background.jpg');
    padding: 10vh 0;
}
.fas {
    font-size: 50px;
}
.container-form-top {
    background-color: rgba(0, 0, 0, 0.35);
    
}
.container-form-botom {
    background-color: rgba(0, 0, 0, 0.3);
    padding-bottom: 5vh;
}
.row-padding {
    padding: 15px;
}
.input-form-padding {
    padding: 10px 15px;
}
.input-form-padding input {
    height: 7vh;
}
.input-form-padding textarea {
    height: 15vh;
}
.buttons-color {
    padding: 10px;
    background-color: #e38f42;
    color: #fff;
}
.politic {
    text-decoration: none;
    color: #e38f42;
}
.politic:hover {
    color: #c2c2c2;
    text-decoration: none;
}
.heading {
    font-size: 36px;
    color: #fff;
}
.text-after-heading {
    font-size: 18px;
}
.header-right {
    height: 100%;
}
.header-right-text {
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}
.fa-chevron-right {
    font-size: medium;
}
.button-header {
    padding: 10px;
    color: #fff;
    background-color:  rgba(0, 0, 0, 0.3);
}