* {
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

.text-light-mine {
    color: #c2c2c2;
}

.text-white {
    color: #fff;
}

.grey-text {
    color: #888;
}

/* NAV */

.nav-link:hover {
    color: #fff;
}

.collapse {
    justify-content: flex-end;
}

.new-bg {
    background-color: #444;
}

/* HEADER */

.main-header {
    background-image: url('../img/form-background.jpg');
    background-position: top;
    padding: 10vh 0;
}

.fas {
    font-size: 50px;
}

.container-form-top {
    background-color: rgba(0, 0, 0, 0.35);

}

.container-form-botom {
    background-color: rgba(0, 0, 0, 0.3);
    padding-bottom: 5vh;
}

.row-padding {
    padding: 15px;
}

.input-form-padding {
    padding: 10px 15px;
}

.input-form-padding input {
    height: 7vh;
}

.input-form-padding textarea {
    height: 15vh;
}

.buttons-color {
    padding: 10px;
    background-color: #e38f42;
}

.links {
    text-decoration: none;
    color: #e38f42;
}

.links:hover {
    color: #c2c2c2;
    text-decoration: none;
}

.heading {
    font-size: 36px;
}

.text-after-heading {
    font-size: 18px;
}

.header-right {
    height: 100%;
}

.header-right-text {
    margin: 10px 0;
    height: 100%;
    flex-direction: column;
}

.fa-chevron-right {
    font-size: medium;
}

.button-header {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);

}

.btn {
    transition: ease 0.3s;
}

.btn:hover {
    opacity: 0.8;
}

/* SECTION */

.section-inner iframe {
    width: 100%;
    border: 0;
}


/* FOOTER */

.main-footer {
    background-color: #f8f8f8;
    height: 40vh;
}

.flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
}